@model Assignment__cumilative_1_csharp.Models.Course


<!-- Displaying all the details of Selected teacher from list.cshtml on this webpage  -->

<a href="/CoursePage/CList">Back to List</a>
<a class="alert-warning" href="/CoursePage/CDeleteConfirm/@Model.Course_Id">Delete</a>


<h1 class="selected">@Model.Course_Id @Model.Course_Name.ToString()</h1>
<p>Course Code: @Model.Course_Code</p>
<p>Teacher Id : @Model.Teacher_Id</p>
<p>Start Date : @Model.C_Start_Date.ToString("yyyy-M-d")</p>
<p>End Date : @Model.C_End_Date.ToString("yyyy-M-d")</p>

<style>
    main{
        background: #eee;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 25px;
        box-shadow: 2px 2px 4px grey;
    }
    .selected{
        margin-bottom: 10px;
    }

</style>