@model Assignment__cumilative_1_csharp.Models.Course


<!--Displaying all the details of Selected teacher from list.cshtml on this webpage-->

<h1>@Model.C_Id @Model.CName.ToString()</h1>
<p>Course Code: @Model.CCode</p>
<p>Teacher Id : @Model.T_Id</p>
<p>Start Date : @Model.S_Date.ToString("yyyy-M-d")</p>
<p>End Date : @Model.E_Date.ToString("yyyy-M-d")</p>
