@model Assignment__cumilative_1_csharp.Models.Teacher

<div id="containershow">
    <nav>
        <a class="navlink" href="/TeacherPage/Show/@Model.Teacher_Id">Back</a>
    </nav>
    <h2>New Teacher</h2>
    <form method="POST" name="form" action="/TeacherPage/Update/@Model.Teacher_Id">
        <div class="inputrow">
            <label for="First_Name">First Name:</label>
            <input type="text" id="First_Name" name="First_Name" value="@Model.First_Name" />

        </div>
        <div class="inputrow">
            <label for="Last_Name">Last Name:</label>
            <input type="text" id="Last_Name" name="Last_Name" value="@Model.Last_Name" />

        </div>
        <div class="inputrow">
            <label for="HireDate">HireDate:</label>
            <input type="datetime" id="HireDate" name="HireDate" value="@Model.HireDate" />
        </div>
        <div class="inputrow">
            <label for="Salary">Salary:</label>
            <input type="number" id="Salary" name="Salary" value="@Model.Salary" />
        </div>
        <div class="inputrow">
            <label for="Emp_Num">EmployeeNumber:</label>
            <input type="text" id="Emp_Num" name="Emp_Num" value="@Model.Emp_Num" />
        </div>
        <div class="inputrow">
            <input type="submit" value="Update Teacher"/>
        </div>
    </form>
</div>
<script>

    // Creating a formHandle which has whole form as an object
    var formHandle = document.forms.form;

    // Creating variables that access the TeacherFname, TeacherLname and TeacherSalary from the form
    var First_Name = formHandle.First_Name;
    var Last_Name = formHandle.Last_Name;
    var Salary = formHandle.Salary;

    // On submit, checkinput function is called
    formHandle.onsubmit = checkinput;

    // checkinput function is validating the input fields of TeacherFname, TeacherLname, and TeacherSalary
    function checkinput() {
        if (First_Name.value === "") {
            First_Name.style.background = "red";
            First_Name.focus();
            return false;
        }
        else {
            First_Name.style.background = "inherit";
        }

        if (Last_Name.value === "") {
            Last_Name.style.background = "red";
            Last_Name.focus();
            return false;
        }
        else {
            Last_Name.style.background = "inherit";
        }
        if(Salary.value < 0 ){
            Salary.style.background= "red";
            Salary.focus();
            return false;
        }
        else{
            Salary.style.background = "inherit";
        }
    }
</script>