@model Assignment__cumilative_1_csharp.Models.Teacher


<!-- Displaying all the details of Selected teacher from list.cshtml on this webpage  -->

<h1>@Model.FName @Model.LName</h1>
<p>Employee Number : @Model.E_Number.ToString()</p>
<p>Hire Date : @Model.HireDate.ToString("yyyy-M-d")</p>
<p>Salary : @Model.Salary.ToString()</p>
