@model Assignment__cumilative_1_csharp.Models.Teacher


<!--Displaying all the details of Selected teacher from list.cshtml on this webpage-->

<h1>@Model.fname @Model.lname</h1>
<p>Employee Number : @Model.enumber.ToString()</p>
<p>Hire Date : @Model.hiredt.ToString("yyyy-M-d")</p>
<p>Salary : @Model.salary.ToString()</p>
